/.idea/misc.xml
/.idea/modules.xml
/nazwy.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/speed__raport.iml
/.idea/vcs.xml
/.idea/workspace.xml
