<br/>

<div>
    <form action="{% url 'insert_view' %}">
    <select name="month_dropdown">
    {% for val, month in months_dict.items %}
        {% if val == month_now %}
        <option selected="selected" value="{{ val }}">{{ month }}</option>
        {% else %}
        <option value="{{ val }}">{{ month }}</option>
        {% endif %}
    {% endfor %}
    </select>

    <select name="year_dropdown">
    {% for year in years_list %}
        <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
    </select>
        <br/>
        <br/>
        <button type="submit">Dodaj</button>
    </form>
</div>